<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta charset="zh-cn"-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- CPU使用率弹出框  -->
<!--<div class="modal fade" tabindex="-1" id="host-cpu-percent-modal">-->
<div class="modal fade" id="host-cpu-percent-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <!--<div  class="modal-dialog modal-lg">-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<h4 class="modal-title" id="host-ip-cpu" >我干</h4>-->
            </div>
            <div class="modal-body">
                <!--<form class="form-horizontal" > -->
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-sm-2 col-md-2 col-lg-2">宝贝</div>
                        <div class="col-lg-10 col-md-10 col-sm-10">我只是想送一本你不要的书而已，你不要太当真</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-sm-2 col-md-2 col-lg-2">描述</div>
                        <div class="col-lg-10 col-md-10 col-sm-10">这本书大概只有5成新的样子，要还是不要我都在这里,为设么第三口当军嫂肯德基加速度</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="col-sm-3 col-md-3 col-lg-3">姓名</div>
                        <div class="col-sm-3 col-md-3 col-lg-3">张同学</div>
                        <div class="col-sm-3 col-md-3 col-lg-3">联系方式</div>
                        <div class="col-sm-3 col-md-3 col-lg-3">18801733383</div>
                    </div>
                </div>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">成功勾搭上（点赞）</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">未能勾搭上（差评）</button>
            </div>
        </div>
    </div>
</div>
<!-- CPU使用率弹出框  end-->
<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">
    $("#host-cpu-percent-modal").on('show.bs.modal',function(e){
        console.log('show-modal')
    });

    $("#host-cpu-search").click(function(e){

    });

</script>
