<script src="js/angular.js"></script>
<script src="js/paper.js"></script>

<div ng-app="paper" ng-controller="default">
	<div class="col-md-4">
         <span class="h3">试卷列表</span>
         <button class="btn" style="float:right" data-toggle="modal" data-target="#newpaper">生成试卷</button>
    <hr>
		<div class="list-group" id="paperlist">
			
			<div class="list-group-item {{p.isfocus}}" ng-repeat="p in paperlist" ng-click="paperclick(p)">
				<div class="list-group-item-heading">
					{{p.papername}}
					<a style="float:right" class="btn" ng-click="deletepaper(p)">删除</a>
				</div>
				
			</div>
			
		</div>
	</div>
	<div class="col-md-8">
         <span class="h3">题目列表</span>
    <hr>
		<div class="panel panel-default" ng-repeat="q in questionlist">
			<div class="panel-heading" data-ng-bind-html="q.maintext"></div>
			<div class="panel-body">
				    	<div data-ng-bind-html="q.o1"></div>
						<div data-ng-bind-html="q.o2"></div>
						<div data-ng-bind-html="q.o3"></div>
						<div data-ng-bind-html="q.o4"></div>
					<br>
					<div data-ng-bind-html="q.answer"></div>
			</div>
		</div>
		
	</div>


<div class="modal fade" id="newpaper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">生成新试卷</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">试卷名</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="inputEmail3" ng-model="papername">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">章节</label>
		    <div class="col-sm-10">
		    	<div class="list-group" id="makepaper-chapts">
		    	<button   ng-repeat="c in chaplist" style="width:80%" ng-click="chapchoose(c)" class="list-group-item {{c.isactive}}" >
		    		{{c.chaptername}}
		     	</button>
		     </div>
		     <button ng-click="chooseallchap()" class="btn">全选</button>
		    </div>
		  </div>
	
		 
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="generatepaper()">开始</button>
      </div>
    </div>
  </div>
</div>



</div>
