<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta charset="zh-cn"-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>圈圈</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!--<link href="../public/javascripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="/public/javascripts/bootstrap/css/bootstrap.css" rel="stylesheet">-->
    <style>
        h1.testfont{ font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
            color: #ffffff;
        }
        a.alterfont{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
            color: #ffffff;
            font-size: large;
        }
    </style>
</head>
<body style="background-image: url(/images/bg.jpg)">
<div class="container" >
    <div class="page-header" style="margin-top: 100px"><h1 class="testfont">圈圈---不一样的毕业季</h1></div>

    <!-- 这里开始设计主界面的布局-->
    <div class="row" style="margin-top: 80px">

        <!--录入信息布局设计-->
        <div class= "row">

            <div class="col-xs-5 col-sm-5 col-md-5">
                <form>
                    <ul class="nav nav-tabs">
                        <!--<li><span class="alterfont" onclick="onChangeType('书籍')">书籍</span></li>-->
                        <li><a class="alterfont" onclick="onChangeType('书籍')">书籍</a></li>
                        <li><a class="alterfont" onclick="onChangeType('考研')">考研</a></li>
                        <li><a class="alterfont" onclick="onChangeType('电子设备')">电子设备</a></li>
                        <li><a class="alterfont" onclick="onChangeType('自行车')">自行车</a></li>
                    </ul>
                    <div class="input-group">
                        <span class="input-group-addon" id="type">书籍：</span>
                        <input type="text" class="form-control" id='goods' placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
            </span>
                    </div><!-- /input-group -->
                </form>
            </div>

        </div><!--录入信息布局设计-->

    </div><!-- 这里开始设计主界面的布局-->

</div>

<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.0.0-beta1/jquery.js"></script>
<!--<script src="/public/javascripts/jquery/jquery-2.1.4.min.js"></script>-->
<!--<script src="/public/javascripts/bootstrap/js/bootstrap.min.js"></script>-->
<script type="text/javascript">
    function onChangeType(value){
//  alert(value);
        value += '：';
        $('#type').text(value);
    }
</script>
</body>
</html>