<script src="/js/angular.js">
</script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/style/bootstrap-multiselect.css">
<script src="/js/answersheets.js"></script>

<div ng-app="exams" ng-controller="default">
    <div class="col-md-4">
          <span class="h3">我的考试列表</span>
          <!--<button class="btn" style="float:right" ng-click="newexam()">添加考试</button>-->
    <hr>
        <div class="list-group" id="examlist">
            <a class="list-group-item {{e.isfocus}}" ng-repeat="e in itemlist" ng-click="examclick(e)">
                <div class="list-group-item-heading">
                    {{e.examname}}

                </div>
                <div class="list-group-item-text">
                </div>
            </a>

        </div>
    </div>
    <div class="col-md-8">
         <span class="h3">考试详情</span><!-- <span class="h3 label label-info" ng-show="cexam.idexam==undefined">添加考试</span> -->
    <hr>
        <div class="panel panel-default">
            
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2" for="examtime">
                        考试名：
                    </label>
                    <div class="col-sm-10">
                       {{cexam.examname}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="examstart">
                        考试时间：
                    </label>
                    <div class="col-sm-10 form-inline">
                        {{cexam.examstart}}
                       
                        &nbsp至&nbsp;
                        {{cexam.examend}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="examduration">
                        考试时长：
                    </label>
                    <div class="col-sm-10 form-inline">
                        {{cexam.duration}}&nbsp;分钟
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="paperselect">

                        章节：
                    </label>
                    <div class="col-sm-10 form-inline">
                    <select id="chapterselect" readonly multiple  ng-model="cexam.chapters">
                        <option ng-repeat="c in chapterlist" value="{{c.idchapter}}">{{c.chaptername}}</option>
                    </select>
<!--                    <a href="/Paperapi/getpaperview/{{exampaper.idpaper}}" target="_blank">查看试卷</a>-->
                    </div>
                </div>
               
                <button class="btn" ng-click="enterexam()" ng-disabled="!cexam.enabled">开始考试</button>
            </div>
        </div>
    </div>
</div>